
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active{
	text-decoration: none;
}


ul{
	list-style: none;
}

.fd_left{
	float: left;
}

.fd_right{
	float: right;
}

.lt_aside{
	width: 180px;
	height: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	background: #222D32;
	z-index: 9;
}

.brand{
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #367FA9;
}
.brand a{
	font-size: 18px;
	color: beige;
	text-decoration: none;
}
.user{
	padding-top: 30px;
}
.user img{
	width: 80px;
	height: 80px;
	display: block;
    margin: auto;
    border-radius: 50px;
}
.user p{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: beige;
	text-align: center;
}

.nav ul{
	width: 100%;
}

.nav ul a{
	width: 100%;
	height: 40px;
	display: block;
   line-height: 40px;
   padding-left: 40px;
   color: beige;
}


.erjq a{
	text-indent: 1em;
	width: 100%;
	border-left:3px solid transparent;
}

.erjq a:hover{
	border-left:3px solid yellow;
}


/*上部*/
.upside{
	width: 100%;
	height: 50px;
	background:royalblue;
	position:fixed;
	top: 0px;
	left: 0px;
	padding-left: 180px;
}

.upside .a,.b{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	color: beige;
}


/*主体部分*/
.mainbody{
	width: 100%;
	height: 1000px;
	background: pink;
	padding-left: 180px;
	padding-top: 50px;
}


.breadcrumb_nav{
	padding-top: 10px;
}
